<div class="card card-weather">
  <div class="card-body">
    <div class="card-control">
      <button class='active' data-type="temperature">
        <i class="mdi mdi-thermometer"></i>
      </button>
      <button data-type="humidity">
        <i class="mdi mdi-water"></i>
      </button>
      <button data-type="co2">
        <i class="mdi mdi-periodic-table-co2"></i>
      </button>
      <button data-type="lux">
        <i class="mdi mdi-weather-sunny"></i>
      </button>
    </div>
    <div class="weather-date-location">
      <h3>{% now "l" %}</h3>
      <p class="text-gray">
        <span class="weather-date">{% now "j E, Y" %}</span>
      </p>
    </div>
    <div class="weather-data d-flex">
      <div class="mr-auto">
        <div class="slideup-block-container">
          <div class='slideup-block-item' data-type="temperature">
            <h4 class="display-3">00.0</h4>
            <p><span class="sensor-name">Датчик</span></p>
          </div>
          <div class='slideup-block-item' hidden data-type="humidity">
            <h4 class="display-3">00.0</h4>
            <p><span class="sensor-name">Датчик</span></p>
          </div>
          <div class='slideup-block-item' hidden data-type="co2">
            <h4 class="display-3">00.0</h4>
            <p><span class="sensor-name">Датчик</span></p>
          </div>
          <div class='slideup-block-item' hidden data-type="lux">
            <h4 class="display-3">00.0</h4>
            <p><span class="sensor-name">Датчик</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="d-flex weakly-weather">
      {% for sensor in data %}
        {% with sensor.sensor.get_limits as limits %}
          <div data-id="{{ sensor.sensor.id }}" data-name="{{ sensor.sensor.name }}" class="weakly-weather-item {% if forloop.counter == 1 %}active{% endif %}">
            <p class="mb-0 text-muted">
              # {{ sensor.sensor.id }}
            </p>
            <div class="slideup-block-container">
              <div class='slideup-block-item' data-type="temperature" data-value="{{ sensor.temperature|stringformat:'g' }}" data-min="{{limits.temperature.0|stringformat:'g' }}" data-max="{{ limits.temperature.1|stringformat:'g' }}">
                <i class="mdi mdi-thermometer"></i>
                <p class="mb-0">
                  {{ sensor.temperature|stringformat:"d" }}°
                </p>
              </div>
              <div class='slideup-block-item' hidden data-type="humidity" data-value="{{ sensor.humidity|stringformat:'g' }}" data-min="{{limits.humidity.0|stringformat:'g' }}" data-max="{{limits.humidity.1|stringformat:'g' }}">
                <i class="mdi mdi-water"></i>
                <p class="mb-0">
                  {{ sensor.humidity|stringformat:"d" }}%
                </p>
              </div>
              <div class='slideup-block-item' hidden data-type="co2" data-value="{{ sensor.co2 }}" data-min="{{limits.co2.0|stringformat:'g' }}" data-max="{{limits.co2.1|stringformat:'g' }}">
                <i class="mdi mdi-periodic-table-co2"></i>
                <p class="mb-0">
                  {{ sensor.co2 }}
                </p>
              </div>
              <div class='slideup-block-item' hidden data-type="lux" data-value="{{ sensor.lux|stringformat:'g' }}" data-min="{{ limits.lux.0|stringformat:'g' }}" data-max="{{ limits.lux.1|stringformat:'g' }}">
                <i class="mdi mdi-weather-sunny"></i>
                <p class="mb-0">
                  {{ sensor.lux|stringformat:"d" }}
                </p>
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}

    </div>
  </div>
</div>
