.room-block {
        width: 150px;
        height: 135px;
        background: #676767;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        margin: 0 30px 30px 0;
        color: #FFFFFF;
        position: relative;

        @media (min-width: 414px) {
            &:nth-child(3n) {
                margin-right: 0
            }
        }

        @media (max-width: 414px) {
            &:nth-child(2n) {
                margin-right: 0
            }
        }

        &_header {
            font-weight: 300;
            font-size: 18.5px;
            line-height: 25px;
            padding: 0 35px 0 0;
            word-break: break-all;
        }

        &_content {
            font-size: 14.5px;
            color: #dfdfdf;
        }

        .clear-button {
            background: url('/assets/images/backspace_red.svg');
            width: 22px;
            height: 16px;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 14px;
        }
}
