@import 'reset';
@import 'fonts';
@import 'ps';
@import 'sensors';
@import 'dashboard';
@import 'slideout';
@import 'form';
@import 'select';

body {
    font-family: Gilroy;
    font-weight: 100;
}

a, input, button {
    outline: none;
    border: medium;
}
a {
    color: #FC5C7D;
    text-decoration: none;
}

.btn {
    min-width: 200px;
    height: 35px;
    background: #6B81FA;
    border-radius: 5px;
    font-weight: 300;
    font-size: 15.5px;
    line-height: 35px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    margin: 0 0 10px;
    font-family: Gilroy;

    &-red {
        background: #FC5C7D;
    }

    &-blue {
        background: #6A82FB;
    }

    &-left {
        //background: #FC5C7D;
    }
    //@media (max-width: 414px) {
    //    width: 100%;
    //}
}
.mobile-nav {
    display: none;

    div {
        background-color: #fff;
        width: 33px;
        height: 3.5px;
        margin: 4px 0 0;
        border-radius: 2px;
    }

    @media (max-width: 414px) {
        display: block;
    }
}
.app-aside {
    position: fixed;
    width: 320px;
    height: 95vh;
    left: 2.5vh;
    top: 2.5vh;
    background: #000000;
    border-radius: 30px;
    padding: 46px 38px;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }

    //nav {
    //    position: relative;
    //    height: 520px;
    //}

    .top {
        margin: 0 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .logo {}
        .plan {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }

    .quick-links,
    .logout {
        a, button {
            width: 100%;
            height: 35px;
            background: #6B81FA;
            border-radius: 5px;
            font-weight: 300;
            font-size: 15.5px;
            line-height: 35px;
            color: #FFFFFF;
            display: block;
            text-align: center;
            margin: 0 0 30px;
        }
    }
    .main {
        a {
            font-style: normal;
            font-weight: 300;
            font-size: 15.5px;
            line-height: 18px;
            color: #FFFFFF;
            display: block;
            margin-bottom: 40px;
        }
    }
    .logout {
        margin-top: 70px;
        a {
            background: #FC5C7D;
            border: medium none;
            font-family: Gilroy;
        }
    }

    @media (max-width: 414px) {
        display: none;
    }
}
main {
    //min-height: 100vh;
    min-height: calc(100vh - 110px);
    padding: 30px 430px 80px 30px;

    .top {
        display: flex;
        justify-content: space-between;
        margin: 35px 0 35px;

        .left {
            max-width: 416px;

            a {
                transition: all .5s ease .5s;
                color: #DFDFDF;
                text-decoration: none;
                background-image: linear-gradient(to bottom, transparent 55%, #6B81FA 0);

                &:hover {
                    background-image: none;
                    color: #FFFFFF;
                }
            }
        }
        .right {
            .welasensor {
                @media (max-width: 320px) {
                    display: none;
                }
            }
        }
    }

    &.welcome {
        background: linear-gradient(90deg, #FC5C7D 0%, #6A82FB 100%);

        aside {
            position: fixed;
            width: 400px;
            height: 100vh;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.6);

            @media (max-width: 414px) {
                display: none;
            }
        }

        @media (max-width: 414px) {
            padding: 7.5px 7.5px 66px;
        }
    }

    &.app {
        background: #2A2A2A;


        @media (max-width: 414px) {
            padding: 7.5px 7.5px 66px;
        }

        .mobile-header {
            display: none;
            margin-bottom: 25px;
            justify-content: space-between;

            @media (max-width: 414px) {
                display: flex;
            }
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;

        .logo {
            margin: 0 130px 0 0;
        }

        nav {
            a {
                transition: color .2s ease .2s;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 15px;
                color: #DFDFDF;
                text-decoration: none;
                padding: 10px 20px;

                &:not(:first-child) {
                    margin-left: 63px;
                }

                &:hover {
                    color: #FFFFFF;
                }
            }

            @media (max-width: 414px) {
                display: none;
            }

        }

    }

    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 31.5px;
        line-height: 38px;
        color: #FFFFFF;
        margin-bottom: 23px;
    }

    p {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 10px;

        &.red {
            color: #FC5C7D;
        }
    }


    .cookie {
        position: fixed;
        width: 600px;
        height: 38px;
        left: calc(50% - 300px);
        bottom: 20px;
        background-color: rgba(223,223,223,.6);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        line-height: 38px;
        padding: 0 18px;
        box-sizing: border-box;
        visibility: visible;
        opacity: 1;
        transition-delay: 0.2s;

        &-icon {
            img {
                width: 24px;
                margin: 6px 0 0;
            }
        }
        &-text {
            a {
                color: #FC5C7D;
                text-decoration: none;
            }

            @media (max-width: 414px) {
                margin: 10px;
            }
        }
        &-close {
            cursor: pointer;
            img {
                margin: 8px 0 0;
            }
        }

        &.hide {
            transition: visibility 0s linear 0.33s, opacity 0.33s linear;
            visibility: hidden;
            opacity: 0;
        }

        @media (max-width: 414px) {
            width: 80%;
            line-height: 1;
            font-size: 13.5px;
            left: 7%;
            height: auto;
            //height: 46px;
            bottom: 8px;
        }
    }

    .items {
        display: flex;
        justify-content: space-between;

        .item {
            padding: 26px 21px 20px;
            width: 260px;
            min-height: 380px;
            background: #FDFDFD;
            border-radius: 10px;
            box-sizing: border-box;

            @media (max-width: 414px) {
                width: 100%;
                margin-bottom: 15px;
            }

            &-2x {
                width: 560px;

                @media (max-width: 414px) {
                    width: 100%;
                }
            }

            &-title {
                text-align: center;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                margin-bottom: 27px;
            }
            &-text {
                min-height: 265px;
                p {
                    color: #000000;
                    margin-bottom: 20px;
                    line-height: 22px;

                    &.red {
                        color: #FC5C7D;
                    }
                }
            }
            &-price {
                text-align: center;
                font-weight: 600;
                font-size: 32px;
                line-height: 22px;
                color: #000000;

                span {
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }

        @media (max-width: 414px) {
            flex-wrap: wrap;
        }
    }
}


.question {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 33px;

    &-title {
        font-size: 22px;
        color: #2A2A2A;
        text-decoration: none;
        background-image: linear-gradient(to bottom, transparent 65%, rgba(107, 129, 250, .6) 0);

        &:hover {
            background-image: none;
            color: #000000;
        }
    }

    .answer {
        display: none;
        p {
            font-size: 19px;
            font-weight: 300;
            color: #2A2A2A;
            margin-top: 20px;
        }

        &.active {
            display: block;
        }
    }
}

.section {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 33px;

    &-title {
        font-size: 22px;
        color: #2A2A2A;
        text-decoration: none;
        display: inline-block;
        background-image: linear-gradient(to bottom, transparent 65%, rgba(107, 129, 250, .6) 0);
    }

    &-description {
        p {
            font-size: 19px;
            font-weight: 300;
            color: #2A2A2A;
            margin-top: 20px;
        }
    }
}

.account {
    text-align: center;

    h4 {
        font-weight: 600;
        font-size: 22.5px;
    }

    p {
        color: black;
        margin-top: 10px;
    }
}

#mobile-menu {
    //display: none;
    box-shadow: -5px 0 30px #aeaeae inset;
    padding: 7.5px;
    box-sizing: border-box;

    &.app-mobile-menu {
        box-shadow: none;
        background-color: #2A2A2A;

        .app-aside {
            display: block;
            position: relative;
            width: 100%;
            left: 0;
            top: 0;
            height: 98vh;
        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;

        a {
            margin: 12px 0;
            width: 50%;
        }
    }

    .form-wrapper,
    .account {
        background-color: #A173CA;
        padding: 15px;
        border-radius: 4px;
        color: #FFFFFF;
        margin: 0 0 20px;

        .form-header {
            color: #FFFFFF;
        }
        a, p {
            color: #FFFFFF;
        }
        p {
            margin-bottom: 10px;
        }
        .form-content {
            form {
                input {
                    width: 100%;
                }
                button {
                    background: #FFFFFF;
                    color: #000;
                }
            }
        }
    }
}
