<div class="card">
  <div class="card-body">
    <h3 class="card-title text-primary mb-5">Настройка</h3>
    <form class='sensor-settings' action="{{ request.path}}" method="post">
      {% csrf_token %}
      <input type="hidden" name="sensor" value="" />
      <input type="hidden" name="type" value="" />
      <div class="wrapper d-flex justify-content-between">
        <div class="side-left">
          <p class="mb-2">Верхний лимит</p>
          <input placeholder="100.00" class="display-3 mb-4 font-weight-light" type="text" name="max" value="">
        </div>
        <div class="side-right">
          <small class="text-muted">(max)</small>
        </div>
      </div>
      <div class="wrapper d-flex justify-content-between">
        <div class="side-left">
          <p class="mb-2">Нижний лимит</p>
          <input placeholder="0.00" class="display-3 mb-4 font-weight-light" type="text" name="min" value="">
        </div>
        <div class="side-right">
          <small class="text-muted">(min)</small>
        </div>
      </div>
      <div class="wrapper">
        <button type="submit" class="btn btn-success btn-block btn-lg"><i class="mdi mdi-content-save"></i> Сохранить</button>
      </div>
    </form>
  </div>
</div>
